{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="index-container-1">
<div class="index-container-slide">
    <!-- Carousel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item-active">
                <img src="{{ MEDIA_URL }}indeximage.jpeg" style="width: 100%; height:auto;" class="d-block mx-auto" alt="Image of a wallpaper in the new luxury collection">
                <div class="carousel-caption d-none d-lg-block">
                    <h1 class="display-4 text-black">
                        The new wallpaper collections are here
                    </h1>
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
</div>
<div class="index-container">
    <div class="row about-index-page ">
        <div class="col-md-4 col-sm-12 order-md-1 d-flex justify-content-center align-items-center index-about-card">
            <h4 class="logo-font text-uppercase">About Our Wallpapers</h4>
        </div>
        <div class="col-md-8 col-sm-12 order-md-2 d-flex">
            <div class="card" style="border:none;"> 
                <div class="card-body ">
                    <p>At HappyRoom, we believe in the transformative power of wallpapers.
                        Our curated collection is designed to elevate any space with style, personality, and inspiration. 
                        From timeless classics to contemporary favorites, find the perfect wallpaper to express your individuality and
                        enhance your environment with us.</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="row index-container">
        <div class="col-md-6">
            <a href="{% url 'all_categories' %}?category=pattern">
            <img src="{{ MEDIA_URL }}pattern1.jpeg" class="img-fluid first-page-image" alt="Image of pattern wallpaper" style="max-width: 100%; height: 100%;">
            </a>
            <div class="carousel-caption d-md-block">
                <a href="{% url 'all_categories' %}?category=pattern" class="shop-now-button display-4 text-white">Shop By Pattern</a>
            </div>
        </div>
        <div class="col-md-6">
            <a href="{% url 'all_categories' %}?category=colors">
            <img src="{{ MEDIA_URL }}color1.jpeg" class="img-fluid first-page-image" alt="Image of colorful wallpaper" style="width: 100%; height: 100%;">
            </a>
            <div class="carousel-caption d-md-block">
                <a href="{% url 'all_categories' %}?category=colors" class="shop-now-button display-4 text-white">Shop By Color</a>
            </div>
        </div>
    </div>
{% endblock %}
 