{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
{% if selected_category == 'pattern' %}
<nav class="extra-menu">
    <a href="{% url 'all_categories' %}?sub_category=abstract"><img src="{{ MEDIA_URL }}abstract.png" alt="Abstract" class="subcategory-image"><span class="subcategory-name">Abstract</span></a>
    <a href="{% url 'all_categories' %}?sub_category=geometric"><img src="{{ MEDIA_URL }}geometric.png" alt="Geometric" class="subcategory-image"><span class="subcategory-name">Geometric</span></a>
    <a href="{% url 'all_categories' %}?sub_category=floral"><img src="{{ MEDIA_URL }}floral.png" alt="Floral" class="subcategory-image"><span class="subcategory-name">Floral</span></a>
    <a href="{% url 'all_categories' %}?sub_category=vintage"><img src="{{ MEDIA_URL }}vintage.png" alt="Vintage" class="subcategory-image"><span class="subcategory-name">Vintage</span></a>
</nav>
{% elif selected_category == 'room' %}
<nav class="extra-menu">
    <a href="{% url 'all_categories' %}?sub_category=bedroom"><img src="{{ MEDIA_URL }}bedroom.png" alt="Bedroom" class="subcategory-image"><span class="subcategory-name">Bedroom</span></a>
    <a href="{% url 'all_categories' %}?sub_category=kidsroom"><img src="{{ MEDIA_URL }}kidsroom.png" alt="Kidsroom" class="subcategory-image"><span class="subcategory-name">Kidsroom</span></a>
    <a href="{% url 'all_categories' %}?sub_category=kitchen"><img src="{{ MEDIA_URL }}kitchen.png" alt="Kitchen" class="subcategory-image"><span class="subcategory-name">Kitchen</span></a>
    <a href="{% url 'all_categories' %}?sub_category=livingroom"><img src="{{ MEDIA_URL }}livingroom.png" alt="Last" class="subcategory-image"><span class="subcategory-name">Livingroom</span></a>
    <a href="{% url 'all_categories' %}?sub_category=office"><img src="{{ MEDIA_URL }}office.png" alt="Office/Study" class="subcategory-image"><span class="subcategory-name">Office & Study</span></a>
</nav>
{% elif selected_category == 'colors' %}
<nav class="extra-menu">
<a href="{% url 'all_categories' %}?sub_category=blue"><img src="{{ MEDIA_URL }}blue.png" alt="Blue" class="subcategory-image"><span class="subcategory-name">Blue</span></a>
<a href="{% url 'all_categories' %}?sub_category=green"><img src="{{ MEDIA_URL }}green.png" alt="Green" class="subcategory-image"><span class="subcategory-name">Green</span></a>
<a href="{% url 'all_categories' %}?sub_category=red"><img src="{{ MEDIA_URL }}red.png" alt="Red" class="subcategory-image"><span class="subcategory-name">Red</span></a>
<a href="{% url 'all_categories' %}?sub_category=pink"><img src="{{ MEDIA_URL }}pink.png" alt="Pink" class="subcategory-image"><span class="subcategory-name">Pink</span></a> <br>
<a href="{% url 'all_categories' %}?sub_category=purple"><img src="{{ MEDIA_URL }}purple.png" alt="Purple" class="subcategory-image"><span class="subcategory-name">Purple</span></a>
<a href="{% url 'all_categories' %}?sub_category=yellow"><img src="{{ MEDIA_URL }}yellow.png" alt="Yellow" class="subcategory-image"><span class="subcategory-name">Yellow</span></a>
<a href="{% url 'all_categories' %}?sub_category=neutrals"><img src="{{ MEDIA_URL }}neutrals.png" alt="Neutrals" class="subcategory-image"><span class="subcategory-name">Neutrals</span></a>
<a href="{% url 'all_categories' %}?sub_category=multicolored"><img src="{{ MEDIA_URL }}multicolored.png" alt="Multicolored" class="subcategory-image"><span class="subcategory-name">Multicolored</span></a>
</nav>
{% endif %}
<div class="container-fluid">
    <div class="row">
        {% if not selected_subcategory %}
        <div class="col text-center mt-3">
            <h2 class="logo-font">{{ selected_category_friendly_name }}</h2>
        </div>
        {% endif %}
        {% if selected_subcategory %}
        <div class="col text-center mt-3">
            <h2 class="logo-font">{{ selected_subcategory_friendly_name }}</h2>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            {% if subcategories %}
            <ul>
                {% for subcategory in subcategories %}
                <li><a href="{% url 'sub_categories_selected' subcategory.id %}">{{ subcategory.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a href="#">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                        {% if product.category.exists %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.first.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.first.friendly_name }}
                                                </a>
                                            </p>
                                        {% endif %}
                                        {% if product.rating %}
                                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                        {% else %}
                                            <small class="text-muted">No Rating</small>
                                        {% endif %}
                                        {% if request.user.is_superuser %}
                                            <small class="ml-3">
                                                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}
