{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Main Categories</h1>
                <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item">
                            <h2>{{ category.name }}</h2>
                            <ul class="list-group list-group-flush">
                                {% for subcategory in category.subcategories.all %}
                                    <li class="list-group-item"><a href="{% url 'sub_category' subcategory.id %}">{{ subcategory.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
