{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Categories</h1>
                <h2>{{ subcategory.name }}</h2>
                <ul class="list-group">
                    {% for product in products %}
                    <li class="list-group-item">
                        <h3>{{ product.name }}</h3>
                        <p>Description: {{ product.description }}</p>
                        <p>Price: ${{ product.price }}</p>
                        <!-- Add more details as needed -->
                    </li>
                {% empty %}
                    <li class="list-group-item">No products</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}