/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #E1D4C5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #fff;
    bottom: 0 !important;
    margin-top: auto;
}

.disclaimer {
    font-size: 80%;
    font-style: italic;
}

.logo-font-reviews {
    color: #000000;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 20px;
}
.review-comment {
    font-size: 80%;
    font-style: italic;
}

.review-container {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
}


.social-media-links > a{
    font-size: 300%;
    color: #B08E7F;
    text-decoration: none;
    margin: 10px;
}

.social-media-links > a:hover {
    color: #72625c;
}

#mc_embed_signup{
    background:#fff; 
    clear:left; 
    font:14px "Montserrat", sans-serif;
    width: 400px;
    margin-left: 0;
}
.button-newsletter {
    width: 50%;
    padding: 10px;
    margin-left: -20px;
    background-color: #72625c;
    color: #fff;
}

.button-newsletter:hover {
    background-color: #B08E7F;
    color: #fff;
}

/* Header & Logo */

.account-links-index {
    color: #72625c;
}

.account-links-index:hover {
    color: #B08E7F;
} 
/*navbar for mobile*/
.account-links-mobile{
    color: #72625c;
}
.account-links-mobile:hover{
    color: #B08E7F;
}
/*end of navbar for mobile*/

.btn-black {
    color: rgb(255, 255, 255);
    background-color: #72625c;;
}

.btn-black:hover {
    color: rgb(255, 255, 255);
    background-color: #B08E7F;
}

.logo-font {
    color: #000;
    font-family: "Libre Baskerville", serif;
}

.logo-font:hover {
    color: #B08E7F; 
}

.logo-font-non-link {
    color: #000;
    font-family: "Libre Baskerville", serif;
}

#main-nav {
    font-family: "Playfair Display", serif;
}

/* Index */

.index-container-1 {
    background-color: #fff;
    margin-left: 60px;
    margin-right: 60px;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.index-container-slide {
    background-color: #E8E2DC;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.index-container {
    background-color: #fff;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
}

.shop-now-button {
    color: #fff;
}

.about-index-page {
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 40px;
    border: 2px;
}

.first-page-image {
    padding: 42px;
}

/* Extra navigation menu for subcategories */

.extra-menu {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: #fff;
    margin-left: 140px;
    margin-right: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.extra-menu a {
    display: inline-block;
    padding-bottom: 7px;
    padding-left : 30px;
    padding-right: 30px;
    text-decoration: none;
    color: black;
}

.extra-menu a:hover {
    color: #B08E7F;
}

.dropdown-item:active {
    background-color: #B08E7F;
}

.subcategory-image {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;    
}

.subcategory-name {
    display: block;
    margin-top: 5px;
    color: #72625c;
    font-weight: 600;
}

/* Product page */

.product-container {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px; 
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 50px;
}

.product-container > img {
    margin-right: 10px;
    margin-left: 40px;
}

.product-name {
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
}

.btt-link {
    padding: 10px;
    color: #fff;
    font-size: 150%;
    padding-top: 40px;
    text-decoration: none;
}

.btt-link:hover {
    color:  #ffffff;

}

.booking-link{
    color: #72625c;
    text-decoration: none !important;
    font-family: "Libre Baskerville", serif;
}

.booking-link:hover {
    color: #B08E7F;
}

.rating-style {
    color: #B08E7F;
}

/* FAQ */

.faq-page {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.company-introduction {
    margin-bottom: 70px;
}

.company-introduction > h2 {
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    font-family: "Libre Baskerville", serif;
}

.faq-heading {
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    font-family: "Libre Baskerville", serif;
}

.faq-item {
    margin-bottom: 20px;   
}

.faq-item > h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #B08E7F;
    font-family: "Playfair Display", serif;
}

.privacy-policy {
    text-decoration: none;
    color: #72625c;
}

.privacy-policy:hover {
    color: #B08E7F;
}

.contact-info {
    margin-top: 40px;
    justify-content: center;
    display:flex;
    gap: 50px;
}

.contact-info a {
    text-decoration: none;
    color: #000;
}

.contact-info a:hover {
    text-decoration: none;
    color: #000;
}

.contact-info-container > h3 {
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    margin-top: 70px;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

.contact-info i {
    color: #B08E7F;
}

/* Services */

.service-card {
    max-width: 800px;
    margin-bottom: 30px;
    display: flex;
    background-color: #fff;
    margin-top: 40px;

}

.service-card-title > a {
    font-weight: 500;
    text-transform: uppercase;
    color: #72625c;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}

.service-card-title > a:hover{
    color: #B08E7F;
}


.book-appointment {
    font-weight: 500;
    font-style: italic;
    color: #72625c;
    text-decoration: none;
    font-family: "Libre Baskerville", serif;
}

.book-appointment:hover {
    color: #B08E7F;
}

.service-img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

.service-container {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}


/* Profile */

.profile-container {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.profile-titles {
    color: #72625c;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
}


.add-to-wishlist > button{
    background-color: #fff;
    color: #72625c;
    border-color: #72625c;
}

.add-to-wishlist > button:hover{
    background-color: #B08E7F;
    color:  #fff;
    border-color:#fff;
}

.wishlist-image {
    margin-bottom: 5px;
}

/* Bag */

.bag-container {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 60px;
}
/* Checkout */

.checkout-container {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}

/* account pages */

.account-container {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 40px;

}

/* 404 */

.home-button {
    background-color: #fff;
    color: #72625c;
    border-color: #72625c;
    padding: 20px;
}

.home-button:hover{
    background-color: #B08E7F;
    color:  #fff;
    border-color:#fff;
}

/* ------------------------------- bootstrap toasts */ /* from walkthrough*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.account-container {
    background-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
   
   
}

.account-container > .row {
    width: 100%; 
    max-width: 800px; 
    text-align: left;
}

#login-form, #signup-form {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#login-form h2, #signup-form h2 {
    color: #72625c;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    font-weight: bold;
}

.allauth-form-inner-content p {
    margin-top: 15px;
    color: #6c757d;
}

.allauth-form-inner-content input[type="text"],
.allauth-form-inner-content input[type="email"],
.allauth-form-inner-content input[type="password"] {
    color: #72625c;
    border-radius: 5px; 
}

.allauth-form-inner-content input::placeholder {
    color: #72625c;
}

.allauth-form-inner-content button[type="submit"] {
    background-color: #72625c;
    border-color: #72625c;
    color: #ffff;
}

.allauth-form-inner-content button[type="submit"]:hover {
    background-color: #B08E7F;
    border-color: #B08E7F;
}

.allauth-form-inner-content a {
    color: #72625c;
}

.allauth-form-inner-content a:hover {
    color: #B08E7F;
}

/* Product Form */

#sort-selector {
    border-color: #000 !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* newsletter sign up on screens smaller then desktop/computers */
@media (max-width: 1200px) {
    #mc_embed_signup{
        width: 250px;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .social-media-links > a{
        font-size: 200%;
        color: #B08E7F;
        text-decoration: none;
        margin: 10px;
    }
   
    .faq-page {
        background-color: #fff;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: left;
    }
    .contact-info {
        display: flex;
        flex-wrap: wrap;
    }
    
    .contact-info p {
        flex: 1 0 100%;
        margin: 0;
    }

    .form-group input[type="text"],
    .form-group textarea {
        width: 90%;
    }

    .product-container, .bag-container,
    .profile-container, .review-container,
    .checkout-container {
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
        justify-content: center;
    }

    .index-about-card {
        padding:5px;
        text-align: center;
    }

    .index-about-card > .logo-font {
        margin-top: -10px;

    }

    .index-container-1 {
        margin-top: -10px;
        margin-bottom: 30px;
    }

    .service-img-book {
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .index-container-1 {
        background-color: #fff;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .index-container-slide {
        background-color: transparent;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .shop-now-button {
        font-size:large;  
    }

    .extra-menu {
        margin-left: 60px;
        margin-right: 60px;
    }
}