* {
    margin: 0;
    padding: 0;
}

.body-index {
    background: url('/media/SkaÌˆrmavbild\ 2024-03-31\ kl.\ 09.26.50.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

nav {
    margin-bottom: 60px;
}

.navbar-brand {
    font-size: 350%;
    text-decoration: none;
    color: rgb(219, 52, 127);
}

.navbar-brand:hover {
    color: rgb(219, 52, 127); 
}

.happy {
    color: rgb(226, 50, 74);
}

.nav-link {
    text-decoration: none;
    color:darkorange;
}
.nav-link:hover {
    color: rgb(235, 180, 128);
}