<!--footer.html-->
{% load static %}
<footer class="container-fluid">
    <div class="row py-lg-3 px-lg-3">
        <div class="col-12 col-md-4 px-4 px-md-0 py-4">
            <ul class="nav flex-column divider px-4">
                <li class="nav-item">
                    <a href="{% url 'products' %}" class="nav-link logo-font">SHOP NOW</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'services' %}" class="nav-link logo-font">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'faq' %}" class="nav-link text-uppercase logo-font">FAQ</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.termsfeed.com/live/3cf7666e-b148-4792-9938-d413114833ca"
                        target="_blank" class="nav-link logo-font">PRIVACY POLICY</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'review' %}"  class="nav-link logo-font">CUSTOMER REVIEWS</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4 p-4 text-center">
            <div class="social-media-links">
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://pinterest.com/" target="_blank"><i class="fa-brands fa-square-pinterest"></i></a>
            </div>
            </div>
            <div class="col-12 col-md-4 p-4 order-first">
            <h2 class="mb-4 text-uppercase logo-font">Stay in touch!</h2>
            <div>
            </div>
            <!--  Mailchimp Signup Form -->
            <div id="mc_embed_signup" class="bg-transparent">
                
            </div>
        </div>
    </div>
    <p class="text-muted text-left disclaimer">The information provided here is for educational purposes only and should not be considered as real-world data or services.</p>
</footer>