<!--main_nav.html-->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font nav-link text-black " href="{% url 'home' %}" id="home-link">
                Home
            </a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop now
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}">View All</a>
                <a class="dropdown-item" href="{% url 'new_items' %}">New in</a>
                <a class="dropdown-item" href="{% url 'bestsellers' %}">Bestsellers</a>
                <a class="dropdown-item" href="{% url 'last_chance' %}">Last Chance</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shop by Room
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'all_categories' %}?category=room">View All</a>
                    <a class="dropdown-item" href="{% url 'all_categories' %}?sub_category=kidsroom">Kidsroom</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shop by Color
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'all_categories' %}?category=colors">All</a>
                        <a class="dropdown-item" href="{% url 'all_categories' %}?sub_category=green">Green</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Shop by Pattern
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'all_categories' %}?category=pattern">All</a>
                            <a class="dropdown-item" href="{% url 'all_categories' %}?sub_category=floral">Floral</a>
                        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'inspiration' %}">Inspiration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
        </li>
        </li>
    </ul>
</div>