<!--main_nav.html-->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font nav-link text-black " href="{% url 'home' %}" id="home-link">
                Home
            </a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}">View All</a>
                <a class="dropdown-item" href="{% url 'all_categories' %}?category=news">New in</a>
                <a class="dropdown-item" href="{% url 'all_categories' %}?category=bestsellers">Bestsellers</a>
                <a class="dropdown-item" href="{% url 'all_categories' %}?category=lastchance">Last Chance</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href="#" id="roomDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Room
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=kitchen">Kitchen</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=kidsroom">Kidsroom</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=livingroom">Livingroom</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=bedroom">Bedroom</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=hallway">Hallway</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href="#" id="colorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Color
                    </a>
                    <div class="dropdown-menu" aria-labelledby="colorDropdown">
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=green">Green</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=pink">Pink</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=blue">Blue</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=yellow">Yellow</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=red">Red</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=blackwhite">Black/White</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href="#" id="patternDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pattern
                    </a>
                    <div class="dropdown-menu" aria-labelledby="patternDropdown">
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=floral">Floral</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=abstract">Abstract</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=animals">Animals</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=retro">Retro</a>
                        <a class="dropdown-item" href="{% url 'sub_categories' %}?category=geometric">Geometric</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Inspiration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Experties</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
        </li>
        </li>
    </ul>
</div>
