<!--main_nav.html-->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font nav-link text-black " href="{% url 'home' %}" id="home-link">
                Home
            </a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}">View All</a>
                <a class="dropdown-item" href="{% url 'all_categories' %}?category=news">New in</a>
                <a class="dropdown-item" href="{% url 'all_categories' %}?category=bestsellers">Bestsellers</a>
                <a class="dropdown-item" href="{% url 'all_categories' %}?category=lastchance">Last Chance</a>
                <a class="dropdown-item" href="{% url 'all_categories' %}?category=pattern">Pattern</a>
                <a class="dropdown-item" href="{% url 'all_categories' %}?category=room">Room</a>
                <a class="dropdown-item" href="{% url 'all_categories' %}?category=colors">By Color</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'inspiration' %}">Inspiration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'expertise' %}">Experties</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
        </li>
        </li>
    </ul>
</div>
