{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if service.image %}
            <img class="w-75" src="{{ service.image.url }}" alt="{{ service.name }}">

            {% else %}
            <img class="w-75" src="{{ MEDIA_URL }}noimage.png" alt="{{ service.name }}">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2>{{ service.type }}</h2>
            <p>{{ service.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="content"></div> 
            <form id="booking-form" method="post" class="mt-4">
                {% csrf_token %}
                <input type="hidden" name="service_id" value="{{ service.id }}">
                <div class="form-group">
                    <label for="contact-info">Enter your contact information:</label>
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Book Meeting</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static 'js/expertise.js' %}"></script>
<script>
    flatpickr('#id_date_time', {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        minDate: "today",
    });
</script>
{% endblock %}
