{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="content"></div> 
<form id="booking-form" method="post" class="mt-4">
    {% csrf_token %}
    <div class="step">
        <div class="form-group">
            <label>Select the service you need help with:</label><br>
            <div class="form-check">
                <input type="radio" name="service" value="Wallpaper Selection Assistance" id="service1" class="form-check-input">
                <label for="service1" class="form-check-label">Wallpaper Selection Assistance</label>
            </div>
            <div class="form-check">
                <input type="radio" name="service" value="Room Design Consultation" id="service2" class="form-check-input">
                <label for="service2" class="form-check-label">Room Design Consultation</label>
            </div>
            <div class="form-check">
                <input type="radio" name="service" value="Installation Techniques Guidance" id="service3" class="form-check-input">
                <label for="service3" class="form-check-label">Installation Techniques Guidance</label>
            </div>
            <div class="form-check">
                <input type="radio" name="service" value="Custom Wallpaper Design" id="service4" class="form-check-input">
                <label for="service4" class="form-check-label">Custom Wallpaper Design</label>
            </div>
            <div class="form-check">
                <input type="radio" name="service" value="Trend Analysis and Inspiration" id="service5" class="form-check-input">
                <label for="service5" class="form-check-label">Trend Analysis and Inspiration</label>
            </div>
        </div>
        <div class="form-group">
            <label for="datetimepicker">Select an available time:</label>
        <input type="text" id="datetimepicker" name="datetime">
        </div>
        <div class="form-group">
            <label for="contact-info">Enter your contact information:</label>
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Book Meeting</button>
    </div>
</form>
{% endblock %}

{% block postloadjs %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static 'js/expertise.js' %}"></script>
<script>
    flatpickr('#datetimepicker', {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        minDate: "today",
    });
</script>
{% endblock %}
