<!--services-html-->
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for service in services %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        {% if service.image %}
                                <a href="{% url 'book_service' service.id %}">
                                    <img class="card-img-top img-fluid" src="{{ service.image.url }}" alt="{{ service.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'book_service' service.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ service.name }}">
                                </a>
                                {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ service.type }}</h5>
                            <p class="card-text">{{ service.description }}</p>
                            <p class="card-text">Price: {{ service.price }}</p>
                        </div>
                        {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_service' service.id %}">Edit</a> | 
                    <a class="text-danger delete-product" data-service_id="{{ service.id }}" href="{% url 'delete_service' service.id %}">Delete</a>
                </small>
            {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}
