{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Wallpaper online store offering a wide range of aesthetic luxury and design wallpapers">
    <meta name="keywords" content="room, wallpapers, room wallpapers, living room, kitchen, bedroom, aesthetic wallpapers, 
    luxury wallpapers, peel and stick wallpapers, wallpaper store, modern wallpaper, design wallpaper, cute wallpapers, custom wallpapers, 
    trendy wallpapers, wallpaper design 3d, wallpapers patterns, color wallpaper, redecor room, room design">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bungee&family=Fugaz+One&display=swap" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
    
    {% block corejs %}
    <script src="https://kit.fontawesome.com/89e0726886.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/delete_confirmation.js' %}"></script>
{% endblock %}
<title>HappyRoom</title>
</head>

<body class="body-index">
<header class="container-fluid fixed-top header-main">
    <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-lg-0 text-center">
            <a href="{% url 'home' %}" class="text-jet" aria-label="home">
                <img src="{% static 'images/logo.png'%}" alt="logo" class="logo-image mb-0" style="width: 50%; height:auto;">
            </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center account-links-index">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0 my-account">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                        <div class="text-center account-links-index">
                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                            <p class="my-0 shopping-bag">
                                {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                {% else %}
                                    $0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% include 'includes/mobile_top_header.html' %}
        {% include 'includes/main_nav.html' %}
    </nav>
</div>
</header>
{% if messages %}
      <div class="message-container">
          {% for message in messages %}
              {% with message.level as level %}
                  {% if level == 40 %}
                      {% include 'toasts/toast_error.html' %}
                  {% elif level == 30 %}
                      {% include 'toasts/toast_warning.html' %}
                  {% elif level == 25 %}
                      {% include 'toasts/toast_success.html' %}
                  {% else %}
                      {% include 'toasts/toast_info.html' %}
                  {% endif %}
              {% endwith %}
          {% endfor %}
      </div>
  {% endif %}


  {% block delete_modal %}
  <!-- Delete confirmation modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Delete {{ product.id }}?</h5>
              </div>
              <div class="modal-body">
                  Are you sure you want to delete this product or service? This action cannot be undone.
              </div>
              <div class="modal-footer"> 
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <a href="#" id="deleteConfirm" class="btn btn-danger">Delete</a>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
{% block page_header %}
{% endblock %}

{% block content %}
{% endblock%}
{% include 'includes/footer.html' %}
{% block postloadjs %}
<script>
    $(document).ready(function(){
        $('.dropdown-toggle').dropdown();
    });
</script>
<script type="text/javascript">
    $('.toast').toast('show');
</script>

<!-- mailchip script -->
<script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
</script>
<script>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}
</body>
</html>