{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="faq-page">
    <div class="company-introduction">
        <h2>About Us</h2>
        <p>Welcome to HappyRoom, where we specialize in providing high-quality wallpapers to enhance 
            the beauty of your living spaces.<br>
            With a passion for design and a commitment to customer 
            satisfaction, we strive to offer a diverse selection of wallpapers <br>crafted from premium 
            materials and inspired by the latest trends in interior decor.</p>
        <p>Whether you're looking to add a pop of color to your walls or create a statement feature,<br> 
            our extensive collection has something for every style and preference.<br> Explore our range of 
            vinyl, non-woven, grasscloth, and paper-based wallpapers <br>to discover the perfect solution 
            for your home.</p>
    </div>
    <div class="faq-heading">
<h1>FAQ</h1>
    </div>
<div class="faq-item">
    <h4>What types of wallpaper materials do you offer?</h4>
    <p>We offer a wide range of wallpaper materials including vinyl, non-woven,<br> grasscloth, 
        and paper-based wallpapers. Each material has its own unique characteristics <br>and suitability 
        for different environments.<br> Our product descriptions provide detailed information on the material composition.</p>
</div>

<div class="faq-item">
    <h4>How should I think about sizing when ordering wallpaper?</h4>
    <p>
        When ordering our wallpaper, you'll find that we offer one standard size for our rolls.<br> 
        Each roll is typically 20.5 inches (52 centimeters) wide and 33 feet (10 meters) long,<br> 
        providing approximately 17 square meters of coverage per roll. 
    </p>
    <p>
        If you need more wallpaper to cover a larger area, you can simply order additional
        rolls of the same design. <br>
        Consider the dimensions of the walls you want to cover and
        calculate <br>the total area to determine how many rolls you'll need. Our pattern repeats every 
        27 inches (68.5 centimeters), <br>allowing for seamless installation when using multiple rolls.
    </p>
    <p>
        Made from high-quality vinyl material, our wallpaper is durable, washable, and easy to install. <br>
        Whether you're covering a small accent wall or redecorating an entire room, our wallpaper provides a <br> 
        stylish and practical solution for your home decor needs.
    </p>
    <p>If you need further assistance or personalized advice on selecting the right wallpaper for your space,<br>
        feel free to book an appointment with one of our expert designers. <br>
        Visit our <a class="privacy-policy" href="{% url 'services' %}" >services</a> to learn more and schedule your appointment today.</p>
</div>
<div class="faq-item">
    <h4>Can I see examples of your wallpaper in real homes?</h4>
    <p>Yes, we showcase customer-submitted photos on our website and social media platforms <br>
        to provide inspiration and demonstrate how our wallpapers look in real homes. <br>
        You can also explore our customer reviews for feedback on product quality<br> and installation experiences.</p>
</div>

<div class="faq-item">
    <h4>Do you offer installation services?</h4>
    <p>While we do not offer installation services directly, we provide <br>comprehensive 
        installation guides and resources to help you install your wallpaper with ease. <br>
        If you require professional installation assistance, we can recommend trusted local contractors in your area.</p>
</div>

<div class="faq-item">
    <h4>Can I order a wallpaper sample in a specific color?</h4>
    <p>Yes, we offer custom color samples for many of our wallpaper designs. <br>
        Simply contact our customer support team with your color preferences,<br> and we will do our best to accommodate 
        your request. <br> Please note that custom color samples may incur additional fees.</p>
</div>

<div class="faq-item">
    <h4>What payment methods do you accept?</h4>
    <p>We accept major credit cards including Visa, Mastercard, American Express, and Discover. <br>
        Your payment information is securely processed through our encrypted payment gateway.</p>
</div>

<div class="faq-item">
    <h4>How do I track my order?</h4>
    <p>Once your order has been shipped, you will receive a confirmation email<br> with 
        tracking information. You can use this tracking number to monitor the status of your delivery online. <br>
        If you have any questions or concerns about your order, <br>please don't hesitate to contact our customer 
        support team for assistance.</p>
</div>

<div class="faq-item">
    <h4>What is your environmental policy?</h4>
    <p>We are committed to sustainability and environmental responsibility. <br>
        Many of our wallpaper products are made from eco-friendly materials and manufactured using environmentally <br>
        conscious processes. We strive to minimize our carbon footprint and support initiatives <br>that promote 
        conservation and sustainability.</p>
</div>

<div class="faq-item">
    <h4>Do you offer discounts for bulk orders?</h4>
    <p>Yes, we offer discounts for bulk orders depending on the quantity and total purchase value.<br> 
        Please contact our sales team for more information on bulk pricing and to discuss your specific requirements.<br> 
        We are dedicated to providing competitive pricing and value-added solutions for our customers.</p>
</div>

<div class="faq-item">
    <h4>What is your policy on damaged or defective products?</h4>
    <p>If you receive a damaged or defective product, please contact our customer support team immediately. <br>
        We will arrange for a replacement or refund as per our warranty policy. <br>Your satisfaction is our top priority, 
        and we will do everything we can<br> to resolve any issues promptly and efficiently.</p>
</div>

<div class="faq-item">
    <h4>How do I care for and maintain my wallpaper?</h4>
    <p>Proper care and maintenance are essential for preserving the beauty and longevity of your wallpaper. <br>
        We recommend gently cleaning your wallpaper with a soft cloth or sponge and mild detergent as needed. <br>
        Avoid abrasive cleaners or scrubbing, as they may damage the surface.<br> For specific care instructions, 
        refer to the product label or contact our customer support team.</p>
</div>

<div class="faq-item">
    <h4>Can I return or exchange my wallpaper if I change my mind?</h4>
    <p>Yes, we offer a hassle-free return and exchange policy for unused and unopened wallpaper 
        rolls within 30 days of purchase. <br>Simply contact our customer support team to initiate a 
        return or exchange,<br> and we will provide you with instructions for returning the product. <br>
        Please note that return shipping fees may apply.</p>
</div>

<div class="faq-item">
    <h4>Do you offer consultations with design experts?</h4>
    <p>Yes, we offer personalized consultations with our experienced design experts to <br>
        help you choose the perfect wallpaper for your space.<br> Whether you need assistance with color selection, 
        pattern matching,<br> or design inspiration, our experts are here to guide you every step of the way. <br>
        You can book an appointment with one of our experts <a class="privacy-policy" href="{% url 'services' %}">here.</a></p>
</div>

<div class="faq-item">
    <h4>How can I stay updated on new product releases and promotions?</h4>
    <p>Subscribe to our newsletter to receive updates on new product releases,<br>
        exclusive promotions, and design inspiration straight to your inbox. <br>
        You can also follow us on social media for the latest news and announcements. <br>
        Join our community of wallpaper enthusiasts and be the first to know about exciting developments!</p>
</div>

<div class="faq-item">
    <h4>How can I contact customer support?</h4>
    <p>You can reach our customer support team by emailing happyroom@contact.com <br>
        or by calling our toll-free number at 1-800-123-4567. <br>Our dedicated representatives are 
        available to assist you with any questions <br>or concerns Monday through Friday, 9am to 5pm EST.</p>
</div>

<div class="faq-item">
    <h4>What is your GDPR and privacy policy?</h4>
    <p>We take your privacy seriously and are committed to complying with GDPR regulations.<br>
        Our privacy policy outlines how we collect, use, and protect your personal information<br> when you 
        use our website or make a purchase.<br> We ensure that your data is handled securely and only used for 
        purposes outlined in our privacy policy.<br> For more information, please refer to our 
        <a class="privacy-policy" href="https://www.termsfeed.com/live/3cf7666e-b148-4792-9938-d413114833ca" target="_blank">Privacy Policy</a>.</p>

<div class="contact-info-container">
    <h3>For further qurestion</h3>
    <div class="contact-info">
    <p><i class="fa-solid fa-at"></i><a href="mailto:happyroom@contact.com"> happyroom@contact.com</a></p>
    <p><i class="fa-solid fa-phone"></i> 1-800-123-4567 <br>(Monday through Friday,<br> 9am to 5pm EST)</p>
    <p><i class="fa-solid fa-location-dot"></i> 123 Main Street, Stockholm, Sweden </p>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
